* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1400px;
  margin: 0 auto;
}

.nav-header {
  width: 100%;
  padding: 10px;
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #313131;
}

.nav-header h2 {
  font-family: "Pacifico", cursive;
  color: white;
}

.form-search {
  overflow: hidden;
  display: flex;
  background-color: #313131;
  border: 1px solid #313131;
}

.form-search .form-search-input {
  width: 500px;
  padding: 7px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
.form-search .form-search-input::placeholder {
  color: white;
}

.form-search .btn {
  width: 50px;
  border: none;
}
.form-search .btn-search {
  background-color: #313131;
  color: #6f6f6f;
  padding: 7px;
}

.login-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  background-color: #202020;
  padding: 15px;
  position: relative;
  height: 100%;
  border-bottom: 1px solid #313131;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  background-color: #373737;
  border-radius: 20px;
}

.swiper-wrapper .active {
  background-color: white;
}
.swiper-wrapper .a_active {
  color: #313131;
}

.swiper-slide:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

.swiper-slide a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.main-video {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  padding-bottom: 200px;
}

.main-video .row {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-3 {
  width: 21%;
  margin-bottom: 40px;
}
.col-3 h3 {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.col-3 video {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  background: #212121;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.footer h2 {
  font-family: "Pacifico", cursive;
  color: white;
}
.pagination {
  width: 100%;
}

.main-page {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.main-page li {
  display: inline-block;
}

.main-page li a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50%;
  color: #313131;
  margin-right: 10px;
}

.login-info {
  display: flex;
  align-items: center;
}

.group-login-user {
  margin-right: 10px;
}

.login-info .button-info {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 8px;
  margin-left: 10px;
}
.login-info .button-info:hover {
  background: white;
  color: #212121;
}
.infor {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.infor img {
  margin-right: 10px;
}

.infor span {
  color: white;
}
